<ion-header>
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-icon name="game-controller-outline"></ion-icon>
    <ion-title>Pronto para o Desafio?</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
    <ion-row>
        <ion-col class="ajuste-onoff" size="5">
        <ion-label> ON/OFF </ion-label>            
            <ion-toggle [(ngModel)]="OnOff"></ion-toggle>
        </ion-col>
        <ion-col class="ajuste-pontuação" size="7">
            <ion-label> PONTUAÇÃO:</ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
         <ion-col class="ion-align-self-end" size="16">
          <ion-icon name="hardware-chip-outline"></ion-icon>           
            <ion-label>Hardware</ion-label>
            <ion-radio value="griff"></ion-radio>
         </ion-col>
         <ion-col class="ion-align-self-end" size="12">
          <ion-icon name="logo-windows" class="icone"></ion-icon>
            <ion-label>   Sofware</ion-label>
            <ion-radio></ion-radio>
         </ion-col> 
    </ion-row>

    <ion-row>
      <ion-col class="ajuste-defeito" size="12">
         <ion-label>Defeito: O Pc não é inicializado</ion-label>        
      </ion-col>
    </ion-row>

    <div class="question-box">...
      <ion-label> caixa de texto onde estará a questão</ion-label>
    </div>


    <div class="respostas">
    <div class="resposta"> 
      <span class="numero">1</span>
      <span class="texto-resposta">opção</span>
    </div>
    
    <div class="resposta"> 
      <span class="numero">2</span>
      <span class="texto-resposta">opção</span>
    </div>

    <div class="resposta"> 
      <span class="numero">3</span>
      <span class="texto-resposta">opção</span>
    </div>

    <div class="resposta"> 
      <span class="numero">4</span>
      <span class="texto-resposta">opção</span>
    </div>

</div>

</ion-grid>

</ion-content>
   
    
  

