.ajuste-onoff{
    background-color: yellowgreen;
    display: flex;
    align-items: center;
}

.ajuste-pontuação{
    background-color: red;
    display: flex;
    align-items: center;
}
ion-icon{
  font-size: 30px;

}
.ajuste-defeito{
  background-color: green;
  

}
ion-content{
  --background: rebeccapurple;
}

.icone{
  font-size: 20px;
  
}







