<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Funcionalidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" size="small" size="default"><b>iniciar</b></ion-button>
  <ion-button color="success" size="small" size="default"><b>Ranking</b></ion-button>
  <ion-button color="success" size="small" size="default"><b>Enviar questões</b></ion-button>
  <ion-button color="success" size="small" size="default"><b>Meus dados</b></ion-button>
  <ion-button color="success" size="small" size="default"><b>novo botao</b></ion-button>
  
</ion-content>