<ion-header>
  <ion-toolbar>
    <ion-title>Funcionalidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" size="small" size="default"><b>iniciar</b></ion-button>
  <ion-button color="success" size="small" size="default"><b>Ranking</b></ion-button>
  <ion-button color="success" size="small" size="default"><b>Enviar questões</b></ion-button>
  <ion-button color="success" size="small" size="default"><b>Meus dados</b></ion-button>
  <ion-button color="success" size="small" size="default"><b>saída</b></ion-button>
</ion-content>